__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak
# NexusProfit Assets
nexusprofit/assets/audio/*
nexusprofit/assets/pins/*
nexusprofit/assets/reels/*
!nexusprofit/assets/.gitkeep
